@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

::-webkit-scrollbar-thumb {
	@apply bg-primary-600 !important;
	border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-primary-500 !important;
}

::-webkit-scrollbar-track {
	margin: 10px;
	border-radius: 0.25rem;
}
